.title {
    color: #f7d354;
    font-size: 1.2rem;
    text-align: center;
    margin: 2em 0 3em 0; 
}

.movie_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.categories{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin: 3em 0 2em 0; 
}

.title_categories {
    color: #f7d354;
    font-size: 1.2rem;
    text-align: center;
}

.home_button {
    display: flex;
    align-items: center;
    background-color: #121212;
    color: #f7d354;
    border: 2px solid #121212;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1em;
}

.home_button:hover {
    background-color: transparent;
    border: 2px solid #f7d354;
    transition: .5s;
    color: #f7d354;
}

.buttons_group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.faAngleDown_button {
    background-color: transparent;
    color: #f7d354;
    cursor: pointer;
    border: none;
  }