@media (max-width: 426px) {
  .navbar {
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  .navbar a h2 {
    display: flex;
    gap: 0.3rem;
    font-size: 1.2em;
  }
  .form {
    display: flex;
    gap: 0.3rem;
  }

  .form input {
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
    border: none;
    width: 10rem;
  }

  .form button {
    display: flex;
    align-items: center;
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: 0.3rem;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .form button:hover {
    transition: 0.5s;
    background-color: transparent;
    color: #f7d354;
  }
}

@media (min-width: 426px) {
    .navbar {
      background-color: #121212;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 3rem;
    }
  
    .navbar a h2 {
      display: flex;
      gap: 0.5rem;
    }
  
    .form {
      display: flex;
      gap: 0.5rem;
    }
  
    .form input {
      padding: 0.2rem 0.8rem;
      border-radius: 4px;
      border: none;
      width: 18rem;
    }
  
    .form button {
      display: flex;
      align-items: center;
      background-color: #f7d354;
      border: 2px solid #f7d354;
      border-radius: 4px;
      color: #000;
      padding: 0.3rem;
      font-size: 1.1rem;
      cursor: pointer;
    }
  
    .form button:hover {
      transition: 0.5s;
      background-color: transparent;
      color: #f7d354;
    }
  }
  